## Dependencies
# Ignore node modules in all packages (root, backend, frontend)
node_modules/

## Environment files
# Ignore environment files for backend and frontend apps
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*

## macOS
.DS_Store

